.menu{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding-top: 3.2rem;
}

.menuLink{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.1s ease-in-out;
  padding: 1rem;
  border-radius: 0.8rem;
}

.menuLink:hover{
  filter: brightness(50%);
}

.menuLink svg{
  width: 2.4rem;
  height: 2.4rem;
}